<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/sdg.jpg">
        <h2>Full Stack Web Developer</h2>
        <p>Created as part of the node.js course by Andrew Mead in Udemy</p>
    </div>

    {{>footer}}
</body>

</html>